# Ignore node_modules in all apps
apps/*/node_modules/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
apps/*/.vercel/

# Build Outputs
apps/*/.next/
apps/*/out/
apps/*/build/
apps/*/dist/